///////////////////////////////////////////////////////////////////////////////
/// @brief the description of the file
/// @author tribf tribf@tribf.com
/// @version 1.0
/// @date ${APP_CTIME}
/// @note
///////////////////////////////////////////////////////////////////////////////

// <Date>     | <Author>    | <Description>
// ----------------------------------------------------------------------------
// ${APP_CTIME} | tribf   | create this file


#include "conf/AppConfig.h"

int main(int argc, char* argv[]) {
    INFO("%s started", argv[0]);

    char *APP_HOME = getenv("APP_HOME");
    if (APP_HOME == nullptr) {
        ERROR("%s", "APP_HOME not set");
        exit(-1);
    }

    AppConfig appConfig;
    appConfig.loadAppConf(APP_HOME);
}
